<!-- The navbar for mobile users -->
<div class="UnderlineNav user-profile-nav d-block d-md-none position-sticky top-0 pl-3 ml-n3 mr-n3 pr-3 bg-white"
  style="z-index:3;">
  <nav class="UnderlineNav-body" style="margin-right: auto;">

    {{/* Use same tab links as desktop */}}
    {{ $currentSite := false }}
    {{ range where .Sites ".Language.Lang" .Language.Lang }}
      {{ $currentSite = . }}
    {{ end }}

    {{ with $currentSite.Home }}
      <a class="UnderlineNav-item {{ if $.IsHome }} selected {{ end }}" href="{{ .RelPermalink }}">
        {{ T "home" }}
      </a>
    {{ end }}

    {{ with $currentSite.GetPage "/publications" }}
      {{ if eq $.Section "publications" }}
        <a class="UnderlineNav-item selected" href="{{ .RelPermalink }}">
      {{ else }}
        <a class="UnderlineNav-item" href="{{ .RelPermalink }}">
      {{ end }}
        {{ T "publications" }}
        <span class="Counter">{{ len (where $currentSite.RegularPages "Section" "==" "publications") }}</span>
      </a>
    {{ end }}

    {{ with $currentSite.GetPage "/blog" }}
      {{ if eq $.Section "blog" }}
        <a class="UnderlineNav-item selected" href="{{ .RelPermalink }}">
      {{ else }}
        <a class="UnderlineNav-item" href="{{ .RelPermalink }}">
      {{ end }}
        {{ T "blog" }}
        <span class="Counter">{{ len (where $currentSite.RegularPages "Section" "==" "blog") }}</span>
      </a>
    {{ end }}

    {{ with $currentSite.GetPage "/about" }}
      {{ if eq $.Section "about" }}
        <a class="UnderlineNav-item selected" href="{{ .RelPermalink }}">
      {{ else }}
        <a class="UnderlineNav-item" href="{{ .RelPermalink }}">
      {{ end }}
        {{ T "about" }}
      </a>
    {{ end }}

    <!-- Toggle moved next to name on mobile -->

  </nav>
</div>
